* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}
/* Utility */
nav .nav-bar {
    padding: 0;
    list-style: none;
}

nav .nav-bar a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Header & Navigation */
header {
    background-color: #1F2937;

}
.logo {
    font-size: 1.5rem;
    color:#F9fAf8;
}
.container {
    max-width: 60rem;
    margin: 0 auto;
}
.padding {
    padding: 2rem 0;
}

.nav-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    
}

.nav-bar {
    display: flex;
    gap: 5rem;
    justify-content: end;

}
/* Hero Content */
.hero-container {
    padding: 4rem 0;
}
.main-text {
    font-size: 3rem;
    color: #F9fAf8;
    
}
.sub-text, .nav-list a {
    font-size: 1.2rem;
    color: #e5e7eb;
    line-height: 1.2;
}
.cta {
    background: #3882f6;
    border: #3882f6 1px solid;
    display: inline-block;
    padding: .3rem 1rem;
    color: #fff;
    border-radius: 5px;
    margin: .5rem 0;
}

/* About */
#about {
    text-align: center;
    padding: 2rem 0;
}
.about-title{
    margin-bottom: 2rem;
}
.about-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 32px;
}

.box img {
    border:1px solid #3882F6 ;
    border-radius: 10px;
    
}
/* Testimonial */
#testimonial {
    padding: 6rem 0;
    background-color: #e5e7eb;
    font-size: 2.4rem;
   
    line-height: 1.3;
}

blockquote {
    font-weight: 100;
    font-size: 2.4rem;
    margin:0 auto;
    font-style: italic;
}

figcaption {
    text-align: right;
    font-weight: 800;
    font-size: 2rem;
    margin-top: 1rem;
}

/* CTA  */

.cta-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    background-color: #3882F6;
    margin: 6rem 0;
    color: #fff;
}
#sign-up {
    border: 1px solid #fff;
}

/* Footer  */
footer {
    background: #1F2937;
    padding: 4rem 0;
    text-align: center;
    color: #fff;
}